*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html{
	background: #212121;
}
header{
	text-align: center;
	font-size: 40px;
	background: black;
	font-family: 'Rock 3D', cursive;
}


.menu{
	    font-family: 'Shizuru', cursive;
	    width: 20%;
	float: left;
	background: #212121;
	height: 580px;
	text-align: center;
	border: white 2px groove;

}
.container{
    background:#616161 ;
    color: #F5F5F5;
	width: 830px;
	height: 390px;
	margin: 80px auto;


	
}


.canvs{
	float: left;
	width: 80%;
	background: white;
	height: 580px;
	background: black;
	border: white 3px groove;

}

.salto{
	clear: both;
}
#ventana1{
	background: white;
}
#ventana2{
	background: black;
}
.id-menu{
	background: #455A64;
	height: 50px;
	line-height: center;
	font-size: 25px;
}
.submenu{
	font-size:19px ;
	color: #E1F5FE;
}

#submenu2{
	font-size:19px ;
	color: #E1F5FE;
}
.espacio{
	height: 100px;


}